:root {
  --primary: #22577a;
  --secondary: #8cff98;
  --tertiary: #ffbf46;
  --light: #e2e4f6;
  --dark: #0a8754;
  --darker: #111111;
  --darkgray: 	#656565;
  --lightgray: #878787;
  --red: rgb(228, 46, 1);
  --green: rgb(0,255,0);
  --error: rgb(228, 46, 1);
  --spacing-half: calc(1rem * 0.25);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --spacing-ten: calc(5rem);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--darker);
}

a{
  font-size: 18px;
  font-weight: 500;
  color: var(--darkgray);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Roboto';
  color: var(--darker);
}

h3 a {
  font-size: 1.75rem;
  font-family: 'Roboto';
  color: var(--darkgray);
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  font-family: 'Roboto';
  color: var(--tertiary);
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}


html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--light);
  font-family: 'Roboto';
  background: var(--primary);
}

li {
  list-style: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.home-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.header {
  display: flex;
  flex-wrap: wrap;
  background: var(--primary);
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid #cccccc;
}

.header-name {
  flex: 0 0 100%;
  text-align: center;
}

.header-text {
  text-decoration: none;
  font-weight: 700;
  color: var(--light);
  font-family: 'Roboto';
  font-size: 35px;
}

.nav {
  flex: 0 0 100%;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.nav-element {
  flex: 0 1 calc(50%);
}

.nav-text {
  color: var(--light);
  font-family: 'Roboto';
  font-weight: 400;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form {
  flex: 1 0 calc(75%);
  margin: var(--spacing-five);
  background: var(--light);
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-two);
}

.contact-group {
  flex: 0 0 calc(100%);
  display: flex;
  flex-wrap: wrap;
}
.contact-label {
  color: var(--darker);
  margin-left: 10px;
}
.contact-text {
	height: 40px;
  border: 3px solid #cccccc;
  border-radius: 25px;
  padding-left: 10px;
  font-family: 'Roboto';
  color: var(--darker);
  flex: 0 0 calc(100%);
}

.contact-larger {
  height: 120px;
}

.contact-error {
  flex: 0 0 calc(100%);
}

.contact-button {
  margin-top: var(--spacing-two);
  font-size: 1rem;
  color: var(--darker);
}

.page-header {
  margin-left: var(--spacing-two);
  margin-top: var(--spacing-two);
  color: var(--light);
}

.transactions-header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid var(--light);
  padding: var(--spacing-two);
}

.transactions-h1 {
  color: var(--light);
  font-size: 24px;
  flex: 0 0 70%;
}

.transactions-h3 {
  color: var(--light);
  font-size: 24px;
  flex: 0 0 15%;
}

.transactions-container {
  display: flex;
  flex-wrap: wrap;
}

.transaction-deposit {
  background-color: rgb(0,220,0);
  flex: 0 0 calc(100%);
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--light);
  padding: var(--spacing-two);
}

.transaction-withdraw {
  background-color: rgba(252, 25, 9, 0.925);
  flex: 0 0 calc(100%);
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--light);
  padding: var(--spacing-two);
}

.transaction-name {
  color: var(--darker);
  font-weight: 500;
  flex: 0 0 70%;
}

.transaction-old {
  color: var(--darker);
  font-weight: 500;
  flex: 0 0 15%;
}

.transaction-new {
  color: var(--darker);
  font-weight: 600;
  flex: 0 0 15%;
}

.accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.account{
  margin-top: var(--spacing-five);
  background: rgba(255,255,255,1);
  color: var(--primary);
  flex: 0 0 calc(90%);
  display: flex;
  height: 225px;
  box-shadow: 0 10px 24px hsla(0, 0%, .2);
  border-top: 3px solid var(--secondary);
}

.account-img {
  width: 100%;
  background-size: cover;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}


.account:hover .account-img::after {
  opacity: 1;
}

.account-img h3 {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--darker);
  border-top: 3px solid var(--primary);
}

.account-img h4 {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  top: 200px;
  transition: 0.3s;
  color: var(--darkgray);
}

.account-link {
  position: relative;
  top: -90px;
  width: 100%;
  z-index: 1;
  font-size: 15px;
  color: var(--light);
  background: var(--dark);
  width: fit-content;
  padding: var(--spacing-one);
  border-radius: 25px;
}

.account:hover .account-img h3, .account:hover .account-img h4 {
  top: 0px;
}

.new-account {
  color: var(--darker);
  border-radius: 25px;
  padding: var(--spacing-two);
  margin-top: var(--spacing-two);
  margin-right: var(--spacing-five);
  background-color: var(--tertiary);
}

.detail-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.detail-info {
  flex: 0 0 calc(65%);
  margin-left: var(--spacing-five);
}

.detail-name {
  color: var(--lighter);
}

.detail-balance {
  color: var(--lighter);
}

.detail-withdraw {
  color: var(--darker);
  padding: var(--spacing-two);
  margin-top: var(--spacing-two);
  background-color: rgb(228, 46, 1);
  margin-right: var(--spacing-two);
  border-radius: 25px;
  font-size: 18px;
  flex: 0 0 calc(15%);
  height: fit-content;
}

.detail-deposit {
  color: var(--darker);
  padding: var(--spacing-two);
  margin-top: var(--spacing-two);
  font-size: 18px;
  background-color: rgb(0,255,0);
  border-radius: 25px;
  flex: 0 0 calc(15%);
  height: fit-content;
}

.withdraw-form, .deposit-form, .account-form {
  width: 650px;
  height: 300px;
  margin: var(--spacing-five);
  background: var(--light);
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-two);
  border-radius: 25px;
  box-shadow: 0 5px 35px hsla(0, 0% .2);
}

.withdraw-group, .account-group {
  flex: 0 0 calc(100%);
  display: flex;
  flex-wrap: wrap;
}
.withdraw-label, .account-label {
  color: var(--darker);
}
.withdraw-text, .account-text {
	height: 40px;
	border: 3px solid #cccccc;
  padding: 5px;
  border-radius: 25px;
  font-size: 1.25rem; 
  color: var(--darker);
  flex: 0 0 calc(100%);
}

.withdraw-modal, .account-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 75%;
  background: var(--primary);
  border: 2px solid var(--darker);
}

.withdraw-overlay, .account-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}

.modal-button {
  margin: var(--spacing-two);
  background-color:rgb(228, 46, 1);
  border-radius: 7.5px;
}

.footer {
  background: var(--secondary);
  border-top: 1px solid #cccccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0,0,0,0.2);
}

.footer-text {
  font-size: 40px;
  color: var(--light);
  margin: 0px 20px 0px 20px;
}

@media screen and (min-width: 640px) {
  
  .about-description {
    flex: 0 1 calc(100%);
    font-size: 1.75rem;
    color: var(--secondary);
    width: 50%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-name {
    flex: 0 0 100%;
    text-align: center;
  }
  
  .header-text {
    text-decoration: none;
    font-weight: bold;
    color: var(--light);
    font-size: 35px;
  }
  
  .nav {
    flex: 0 0 100%;
  }
  
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  
  .nav-element {
    flex: 0 1 auto;
  }
  
  .nav-text {
    color: var(--light);
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .account{
    flex: 0 0 calc(45%);
  }

  .contact-form {
    flex: 0 0 700px;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {

  .page-header {
    margin-left: var(--spacing-ten);
  }

  .header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-name {
    flex: 0 1 auto;
    margin-left: var(--spacing-five);
  }

  .header-text {
    text-decoration: none;
    font-weight: bold;
    color: var(--light);
    font-size: 35px;
  }
  
  .nav {
    flex: 0 1 auto;
  }
  
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-element {
    flex: 0 0 auto;
    margin-left: var(--spacing-two);
    margin-right: var(--spacing-two);
  }  

  .nav-text {
    color: var(--light);
  }

  .about-container {
    margin-top: var(--spacing-five);
    margin-left: var(--spacing-one);
    margin-right: var(--spacing-one);
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
  
  .about-image {
    flex: 0 1 calc(40%);
  }
  
  .about-description {
    flex: 0 1 calc(40%);
  }

}

/* col-xl */
@media screen and (min-width: 1200px) {

  .account{
    flex: 0 0 calc(30%);
  }
}